@model Vroom.Models.ViewModel.BikeViewModel ;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <title></title>
        -->
    <link href="~/css/site.css" rel="stylesheet" />

</head>
<body>
    <!--  <script>
          $(document).ready(function () {
              var MakeDDl = $("#Make");
              var ModelDDl = $("#Model");
              ModelDDl.prop('disabled', true);

              MakeDDl.change(() => {
                  if ($(this).val() == "0") {
                      ModelDDl.prop('disabled', true);

                  } else {
                      ModelDDl.prop('disabled', false);
                    /* $.ajax({
                          url: "/api/models/" + $(this).val(),
                          method: "get",
                          success: function () {

                              ModelDDl.empty();
                              $(data).each((index, item) => {
                                  ModelDDl.append($("<option/>", {
                                      value: item.id,
                                      text: item.name

                                  }))

                              });

                          }
                      });*/
                  }
              });
          });
      </script>-->


    <h1>Edituj vozilo</h1>

    <form action="Edit" method="post" enctype="multipart/form-data" style="display:flex;flex-direction:column;">
        <input hidden asp-for="Bike.Id" />
        <input hidden asp-for="Bike.ImagePath" />
        
        <label asp-for="Bike.Make.Name"></label>
        <select asp-for="Bike.MakeID" id="Make">
            @foreach (var make in Model.Makes)
            {
                <option value="@make.Id">@make.Name</option>

            }
        </select>

        <label asp-for="Bike.Model.Name"></label>
        <select asp-for="Bike.ModelID" id="Model">
            @foreach (var modelOfBike in Model.Models)
            {
                <option value="@modelOfBike.Id">@modelOfBike.Name</option>

            }
        </select>

        <label asp-for="Bike.Currency"></label>
        <select asp-for="Bike.Currency">
            @foreach (var currency in ViewBag.Currencies)
            {
                <option value="@currency">@currency</option>

            }
        </select>

        <input type="file" name="files" />

        <label asp-for="Bike.Price"></label>
        <input type="text" asp-for="Bike.Price" />
        <span asp-validation-for="Bike.Price"></span>

        <label asp-for="Bike.Mileage"></label>
        <input type="text" asp-for="Bike.Mileage" />
        <span asp-validation-for="Bike.Mileage"></span>


        <label asp-for="Bike.Year"></label>
        <input type="text" asp-for="Bike.Year" />
        <span asp-validation-for="Bike.Year"></span>


        <label asp-for="Bike.SellerName"></label>
        <input type="text" asp-for="Bike.SellerName" />
        <span asp-validation-for="Bike.SellerName"></span>


        <label asp-for="Bike.SellerPhone"></label>
        <input type="text" asp-for="Bike.SellerPhone" />
        <span asp-validation-for="Bike.SellerPhone"></span>


        <label asp-for="Bike.SellerEmail"></label>
        <input type="text" asp-for="Bike.SellerEmail" />
        <span asp-validation-for="Bike.SellerEmail"></span>


        <label asp-for="Bike.Features"></label>
        <input type="text" asp-for="Bike.Features" />
        <span asp-validation-for="Bike.Features"></span>









        <button type="submit">Submit</button>
        <a href="/Bike/Index">Back</a>

    </form>


</body>
</html>